.show-pass > input {
  
}
.show-pass > .input-group-append {
  border: 1px solid #41c0fa;
  border-bottom-width: 4px;
  padding: 10px;
  text-align: center;
}
.show-pass > .input-group-append span {
  font-size: 20px;
}